---
import Container from "./Container.astro";
---

<header>
    <nav class="z-10 w-full absolute">
        <Container>
            <div
                class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative"
            >
                <input
                    aria-hidden="true"
                    type="checkbox"
                    name="toggle_nav"
                    id="toggle_nav"
                    class="hidden peer"
                />
                <div
                    class="relative z-20 w-full flex justify-between lg:w-max md:px-0"
                >
                    <a
                        href="#home"
                        aria-label="logo"
                        class="flex space-x-2 items-center"
                    >
                        <div aria-hidden="true" class="flex space-x-1">
                            <div
                                class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"
                            >
                            </div>
                            <div class="h-6 w-2 bg-primary"></div>
                        </div>
                        <span
                            class="text-2xl font-bold text-gray-900 dark:text-white"
                            >Swapnil Mane</span
                        >
                    </a>
                </div>
            </div>
        </Container>
    </nav>
</header>

<style>
    #toggle_nav:checked ~ div #hamburger #line {
        @apply rotate-45 translate-y-1.5;
    }

    #toggle_nav:checked ~ div #hamburger #line2 {
        @apply -rotate-45 -translate-y-1;
    }
</style>
